@charset "UTF8";
@import "style";
$ppr: 640px/16/1rem; // pixel per rem
html,
body {
    font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
    font-size: $ppr*1rem;
    margin: 0;
}

body {
    color: white;
    background-color: #666;
}

.location {
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    background-color: #444;
}


/*今天 明天========================*/

.dayinfo-wrapper {
    display: flex;
    flex-direction: row;
    height: 4rem;
    &:not(:first-child){
        border-top: 1px solid #aaa;
    }
    padding: 0rem 0.5rem;
}

.icon-wrapper,
.weather-info {
    display: flex;
    flex: 1 0 0;
}
.weather-info{
    padding: 0.4rem 0;
}

.icon-wrapper {
    align-items: center;
    justify-content: center;
    .icon {
        width: 4rem;
        height: 4rem;
    }
}


/*今天明天详细信息 =========================*/

.weather-info {
    flex-direction: column;
}

.day-item-info {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    font-size: 0.4rem;
    white-space: nowrap;
    &.title span{
        background-color: #333;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
    }
    &.temp,
    &.state{
        font-size: 0.6rem;
    }
}

.week-wrapper {
    position: relative;
    background-color: #4e4e4e;
    opacity: 0.85;
    // border-top:1px solid white;
    // border-bottom: 1px solid white;
}

.week-state-wrapper,
.day-state-wrapper,
.day-date-wrapper,
.day-day-wrapper {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.day-state,
.day-day,
.day-date {
    font-size: .4rem;
    line-height: 5vh;
    text-align: center;
    flex: 1 0 0;
}
.day-state{
    font-size: 0.6rem;
}

.week-state-wrapper-high {
    display: flex;
    height: 5vh;
    .daytemp {
        display: flex;
        font-size: .4rem;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        .text {
            display: inline-block;
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                left: 100%;
                content: '°';
            }
        }
    }
}

.week-state-wrapper-low {
    display: flex;
    height: 5vh;
    .daytemp {
        display: flex;
        font-size: .4rem;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        .text {
            display: inline-block;
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                left: 100%;
                content: '°';
            }
        }
    }
}

.canvas-wrapper {
    height: 15vh;
    background-color: #222;
}

#weekcanvas {
    width: 100%;
    height: 100%;
}

.hour-wrapper{
    padding: 0 1rem;
    background: #575757;
}

.houritem{
    display: flex;
    font-size: 0.43rem;
    height: 1.35rem;
    .col{
        display: flex;
        align-items: center;
        span{
            display: inline-block;
            padding: 0.1rem 0.2rem;
        }
        &:first-child{
            position: relative;
            flex:3 0 0;
            span:first-child{
                background-color: #333;
                border-radius: 0.2rem;
            }
            //border装饰间隔
            &:after{
                display: block;
                content: ' ';
                position: absolute;
                left: 100%;
                top: 0;
                height: 100%;
                width: 1px;
                background: white;
                transform: scaleY(0.5);
            }
        }
        &:nth-child(2){
            flex: 1 0 0;
            font-size: 0.7rem;
            justify-content: center;
        }
        &:nth-child(3){
            flex: 3 0 0;
            padding: 0 0.4rem;
        }
    }
}

.more-info-wrapper {
    position: relative;
    background: #333;
}

.aInfo {
    line-height: 5vh;
    display: flex;
    height: 5vh;
}

.aInfo .infoKey,
.aInfo .infoValue {
    font-size: .4rem;
    margin-right: 3vw;
    flex: 1 0 0;
}

.aInfo .infoKey {
    text-align: right;
}
